<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>DWP00_Hello</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>input_ouput</servlet-name>
  	<servlet-class>com.ssafy.servlet.input_output</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>input_ouput</servlet-name>
  	<url-pattern>/inputTest</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>input_ouput_test</servlet-name>
  	<servlet-class>com.ssafy.servletparameter.ServletParameter</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>input_ouput_test</servlet-name>
  	<url-pattern>/ServletParameter</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>ServletParameter02</servlet-name>
  	<servlet-class>com.ssafy.servletparameter.ServletParameter02</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServletParameter02</servlet-name>
  	<url-pattern>/ServletParameter02</url-pattern>
  </servlet-mapping>
</web-app>